* {
  background-color: #e6ffff;
}

h1 {
  color: #black;
  font-family: verdana;
  margin-left:20px;
}


img {
height: 225px;
width: 300px;
display: inline;
margin: 25px;
}

h2 {
  color: black;
  font-family: verdana;
  padding: 20px;
}

p {
  font-family: verdana;
  font-size: 16px;
  background-color: white;
  padding: 10px;
}

.Bio {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: #b3d9ff;
  display: inline-block;
  margin: 20px;
  padding: 10px;
}

.Education {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: #ffbf80;
  display: inline-block;
  margin: 20px;
  padding: 10px;
}

.Jobs {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: #b3d9ff;
  display: inline-block;
  margin: 20px;
  padding: 10px;
}

ul {
  background-color: white;
  font-family: verdana;
  font-size: 14px;
  height: 118px;
}

li {
  background: white;
}

.Goals{
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: #ffbf80;
  display: inline-block;
  margin: 20px;
  padding: 10px;
}

.Bands{
  height: 300px;
  width: 300px
  border: 1px solid black;
  background-color: #b3d9ff;
  display: inline-block;
  margin: 20px;
  padding: 10px;
}
.List {
  font-family: verdana;
  font-size: 16px;
  left: 50px;
  background: white;
}
div {
  float: inherit;
}
