* {
font-family: verdana;
}

h1 {
  color: #black;
  font-family: verdana;
  margin-left:20px;
}

img {
  height: 225px;
  width: 315px;
  display: inline;
  margin: 25px;
}

h2 {
  color: black;
  font-family: verdana;
  padding: 20px;
}

p {
  font-family: verdana;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
}

ul {
  background-color: white;
  font-family: verdana;
  font-size: 13.5px;
  height: 118px;
  border: 1px solid black;
  position: relative;
  top: -10px;
}

ol {
  background-color: white;
  border: 1px solid black;
}

li {
  background-color: white;
}

.gradient {
  background-image:
    radial-gradient(
      #e6ffff,
      #4dd2ff
    );
}

.Bio {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: #f2f2f2;
  display: inline-block;
  margin: 20px;
  padding: 10px;
}

.Education {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: #ffbf80;
  display: inline-block;
  margin: 20px;
  padding: 10px;
}

.Jobs {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: #f2f2f2;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  position: relative;
  top: -5px;
}

.Goals {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: #ffbf80;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  position: relative;
  top: -27px;
}

.Bands {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: #ffbf80;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  position: relative;
  top: 55px;
}

.List {
  font-family: verdana;
  font-size: 16px;
  left: 50px;
  background: white;
}

.Goals > p {
  height: 173px;
}

ul > li {
  position: relative;
  left: -15px;
}
